<div class="well" style="padding: 8px 0;">
  <ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
    <%- (1..3).each do |i| -%>
      <li><%%= link_to "Link<%= i %>", "#"  %></li>
    <%- end -%>
  </ul>
</div><!--/.well -->